################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Caixa
/Caixa.Api/bin/
/Caixa.Api/obj/`
/Caixa.Domain/bin/
/Caixa.Domain/obj/
/Caixa.Infra/bin/
/Caixa.Infra/obj/
/Caixa.Test/bin/
/Caixa.Test/obj/